
DatabaseAccess/.vs/DatabaseAccess/FileContentIndex/328426e0-b59c-434d-984c-bfe627c7252c.vsidx
DatabaseAccess/.vs/DatabaseAccess/FileContentIndex/382596d9-3a65-41bc-af82-8284d61d2781.vsidx
DatabaseAccess/.vs/DatabaseAccess/FileContentIndex/7d8f0581-612e-4cdc-8410-fc7b33ad62f2.vsidx
DatabaseAccess/.vs/DatabaseAccess/FileContentIndex/fea96dea-7ebe-46b9-9c33-2d53666aef89.vsidx
DatabaseAccess/.vs/DatabaseAccess/v17/.suo
DatabaseAccess/.vs/DatabaseAccess/v17/TestStore/0/000.testlog
DatabaseAccess/.vs/DatabaseAccess/v17/TestStore/0/testlog.manifest
